.main-content
  .page-header
    img(src='images/robot.png')
    .breadcrumbs
      h3 Cardiovascular &gt; Physiology: Cardiovascular Physiology &gt; Electrocardiography
      h2 ECG basics
  .page-content
    .page-content__video-container 
      .aspect-ratio-container
        iframe(src='https://www.youtube.com/embed/xIZQRjkwV9Q' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
    .page-content__scroll-list
      .page-content__scroll-list--up-next 
        h3 Up Next
      .page-content__scroll-list--memory-anchors
        h3 Memory Anchors