.header
   .header__search
     input(type='text' name='search' placeholder='Search for videos, flashcards, and questions')
     button
   .header__nav
     button.fi.fi-flashcards-o
       .notification 73
     button.fi.fi-schedule-nav.disabled
     .header__separator
     button.fi.fi-rep-clock
       .notification 97
     .header__separator
     button.user
       img(src='/images/user1.jpg')