.side-menu-container
  .side-menu
    .side-menu__top-button
      button
    .side-menu__navigation
      ul
        li
          button.fi.fi-logo Library
        li
          button.fi.fi-calendar Step 1 Schedule
        li
          button.fi.fi-builder Quiz Builder
        li
          button.fi.fi-group Team Workspace
    .side-menu__bottom-button
      ul
        li
          button.fi.fi-play-expanded Add Tools
        li
          button.fi.fi-clinical-o Help
    .side-menu__shadow