.main-content {
    padding: 60px 140px;

    @media (max-width: 800px) {
        padding: 30px 60px;
    }

    .page-header {
        display         : flex;
        background-color: white;
        width           : 100%;
        padding         : 20px 25px;
        margin-bottom   : 30px;

        >img {
            width       : 55px;
            margin-right: 20px;
            height      : 100%;
        }

        h3 {
            font-size  : 15px;
            font-weight: normal;
            font-style : italic;

            span {
                color: #9a9a9a;
            }

            a {
                color: #9a9a9a;

                &:hover {
                    color: inherit;
                }
            }
        }
    }

    .page-content {
        >div {
            display       : inline-block;
            vertical-align: top;
        }

        &__video-container {
            width        : 70%;
            padding-right: 20px;

            .aspect-ratio-container {
                padding-top: 56.25%;
                position   : relative;
            }

            iframe {
                position: absolute;
                top     : 0;
                left    : 0;
                width   : 100%;
                height  : 100%;
            }

            .add-quiz {
                background-color: #5cb85c;
                border-radius   : 8px;
                width           : 100%;
                height          : 90px;
                color           : white;
                font-size       : 26px;

                @media (max-width: 900px) {
                    font-size: 19px;
                }

                margin-top : 10px;
                position   : relative;
                overflow   : hidden;

                .card-data {
                    color           : #c9dec8;
                    position        : absolute;
                    left            : 0;
                    top             : 0;
                    font-size       : 11px;
                    background-color: #4a9349;
                    height          : 100%;
                    width           : 23%;
                    text-align      : right;
                    padding         : 0 10px;

                    display        : flex;
                    flex-direction : column;
                    flex-wrap      : nowrap;
                    justify-content: center;
                    align-content  : center;
                    align-items    : flex-end;

                    >* {
                        width  : 100%;
                        padding: 3px 0px;
                    }

                    .flashcards {
                        border-bottom: 1px solid #70a96d;
                    }

                    span {
                        color    : white;
                        font-size: 18px;
                    }
                }
            }
        }

        &__scroll-list {
            width: 30%;

            h3 {
                border-bottom: 1px solid #e7e7e7;
            }

            >* {
                margin-bottom: 20px;
                padding      : 15px;
            }

            &--memory-anchors {
                background-color: white;
            }

            &--up-next {
                background-color: white;
            }
        }
    }
}

.link-item {
    padding: 15px 0px;

    >a {
        margin-bottom: 18px;
        display      : block;

        >img {
            display       : inline-block;
            vertical-align: top;
            width         : 40%;
            padding-right : 10px;
            height        : auto;
            width         : 40%;
            max-width     : 100%;
        }

        .info {
            display       : inline-block;
            vertical-align: top;
            width         : 60%;

            >span {
                >img {
                    display: inline-block;

                    height: 12px;
                    margin: 0 6px -1px 0;
                }
            }

            .title {
                font-size  : 15px;
                font-weight: bold;
            }

            .source {
                font-size: 13px;
                color    : #9a9a9a;
            }
        }
    }

    &.up-next {
        >a {
            >img {
                width: 50%;
            }
        }

        .info {
            width: 50%;
        }
    }
}