doctype html
head
  title ECG basics
  style
    include css/style.css
.header Header
.main-content Content
.side-menu
  .side-menu__top-button
    button MB
  .side-menu__navigation
    button B1
    button B2
    button B3
    button B4
  .side-menu__top-button
    button B1
    button B2
