doctype html
head
  title ECG basics
  style
    include ../public/css/style.css
.main-container
  include includes/header.pug
  include includes/content.pug
include includes/sideMenu.pug
block scripts
  script(src='js/vendor/knockout.min.js')
  script(src='js/controllers/page.js')